{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ]
}
